@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --bg-main: #ecf2ff;
  --bg-primary: #18122b;
}

:root .dark-mode {
  --bg-main: #18122b;
  --bg-primary: #ecf2ff;
}

body .dark-mode {
  font-family: "Poppins", sans-serif;
  color: var(--accent-color);
  background-color: var(--bg-main);
}

body.dark-mode nav {
  background-color: var(--bg-main);
  color: var(--bg-primary);
  box-shadow: 0 0 4px #2c3e50;
}

body.dark-mode .card {
  background-color: var(--bg-main);
  box-shadow: 0 0 4px #34495e;
  color: var(--bg-primary);
}

body.dark-mode .card:hover {
  box-shadow: 1px 1px 8px #34495e;
  background-color: #2c3e50;
}
.toggle-btn {
  height: 4rem;
  /* background-color: red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#checkbox {
  visibility: hidden;
}

#checkbox:checked + .toggle-label .toggle-ball {
  transform: translateX(0.95rem);
}

.toggle-label {
  width: 3rem;
  height: 2rem;
  display: inline-block;
  background-color: var(--bg-primary);
  position: relative;
  border-radius: 10rem;
}

.toggle-ball {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--bg-main);
  display: inline-block;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  transition: 0.1s all linear;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--bg-main);
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}

nav {
  background-color: #f3faff;
  box-shadow: 0 0 4px #bbd0e2;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0;
}

.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}

.company-logo img {
  width: 120px;
}

.nav-links ul {
  gap: 16px;
}

.hover-link {
  cursor: pointer;
}

.hover-link:hover {
  color: var(--secondary-text-color);
}

.hover-link:active {
  color: red;
}

.nav-item.active {
  color: var(--accent-color);
}

.search-bar {
  height: 32px;
  gap: 8px;
}

.news-input {
  width: 200px;
  height: 100%;
  padding-inline: 12px;
  border-radius: 4px;
  border: 2px solid #bbd0e2;
  font-family: "Roboto", sans-serif;
}

.search-button {
  background-color: var(--accent-color);
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.search-button:hover {
  background-color: var(--accent-color-dark);
}

main {
  padding-block: 20px;
  margin-top: 80px;
}

.cards-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: start;
}

.card {
  width: 360px;
  height: 400px;
  min-height: 400px;
  box-shadow: 0 0 4px #d4ecff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 1px 1px 8px #d4ecff;
  background-color: #d7f0fc;
  transform: translateY(-2px);
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
  height: calc(400px - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-source {
  margin-block: 12px;
}

.company-logo {
  
  border-radius: 50%;
  max-width: 90px;
}